<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
</head>
<body>
<h3>All people in the Data Base:</h3>
<hr>
<form th:action = "@{/people}" method = "get">
    <input type = "search" name = "firstName" placeholder="First Name"/>
    <input type = "search" name="lastName" placeholder="Last Name"/>
    <input type = "submit" value = "Search"/>
</form>
</br>
</hr>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    <tr th:each="person : ${people}">
        <td><a th:href="@{/people/{id}(id=${person.id})}"
               th:text="${person.firstName} +${spacer} + ${person.lastName}">
        </a></td>
    </tr>

</table>
</body>
</html>