<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person Details</title>
</head>
<body>
<a th:href="@{/people}">GO BACK</a>
<table>
    <tr>
        <td></td>
        <td><h3>Personal Details:</h3></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${person.firstName} + ${spacer} + ${person.lastName}"></td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td th:text="${person.gender}"></td>
    </tr>
    <tr>
        <td>Birthday:</td>
        <td th:text="${person.birthDate}"></td>
    </tr>
    <tr>
        <td>Height:</td>
        <td th:text="${person.height}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>
            <table>
                <tr th:each="line : ${person.address.print()}">
                    <td th:text="${line}"></td>
                </tr>

            </table>
        </td>

    <tr>
        <td>Is Eligible:</td>
        <td>Not Eligible!</td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
        <td><h3>Education Details:</h3></td>
    </tr>
    <tr th:each="education : ${person.educations}">
        <td th:text="${education.educationType}"></td>
        <td th:text="${education.institutionName}"></td>
        <td th:text="${education.enrollmentDate}"></td>
        <td th:text="${education.graduationDate}"></td>
    </tr>
</table>
<table>
    <tr>
        <td></td>
        <td><h3>Social Insurance Details:</h3></td>
    </tr>
    <tr>
        <td>Year</td>
        <td>Month</td>
        <td>Insurance Amount</td>
    </tr>
    <tr>
        <td>
            <form th:action="@{/personDetails}" method="post">
                <input type="text" name="year" placeholder="yyyy">
        <td><input type="text" name="month" placeholder="mm"></td>
        <td><input type="text" name="amount" placeholder="mmmm.mm"></td>
        </form>
        </td>
    </tr>
    <tr th:each="record : ${socialRecords}">
        <td th:text="${record.year}"></td>
        <td th:text="${record.month}"></td>
        <td th:text="${record.year}"></td>
    </tr>
</table>

</body>
</html>